// Here you can add other styles

.projectDeleteIcon {
  right: 20px;
  top: 0;
  cursor: pointer;
}
.projectUpdateIcon {
  right: 60px;
  top: 0;
  cursor: pointer;
}

.pointer-cursor {
  cursor: pointer;
}
.searchProjectsInput {
  width: 300px;
  margin-left: auto;
}
